@model AutoDealerManager.MVC.ViewModels.FabricanteVM
@{
    ViewBag.Title = "Adicionar Novo Fabricante";
    bool isUpdate = Model?.IsUpdate != null;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Salvar", "Fabricantes", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.AntiForgeryToken()

        @if (@TempData["Erro"] != null) {
            @Html.Partial("_Erro")
        }

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.IsUpdate)

        <div class="form-group">
            @Html.LabelFor(m => m.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.Nome, new { @class = "form-control", maxlength = 100 })
            @Html.ValidationMessageFor(m => m.Nome, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.PaisOrigem, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.PaisOrigem, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.PaisOrigem, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.AnoFundacao, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.AnoFundacao, new { @class = "form-control", type = "number" })
            @Html.ValidationMessageFor(m => m.AnoFundacao, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.Website, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBoxFor(m => m.Website, new { @class = "form-control", type = "url" })
            @Html.ValidationMessageFor(m => m.Website, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-3">
                <input type="submit" value="@(isUpdate ? "Salvar" : "Cadastrar")" class="btn btn-primary" />
                <a class="btn btn-info" href="@Url.Action("Index", "Fabricantes")">Voltar</a>
            </div>
        </div>
    </div>
}
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
