@model IEnumerable<AutoDealerManager.MVC.ViewModels.ConcessionariaVM>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Nome)</th>
            <th>@Html.DisplayName("Endereço")</th>
            <th>@Html.DisplayNameFor(model => model.Telefone)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.CapacidadeMaximaVeiculos)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var concessionaria in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => concessionaria.Nome)</td>
                <td>@concessionaria.ObterEndereco()</td>
                <td>@Html.DisplayFor(modelItem => concessionaria.Telefone)</td>
                <td>@Html.DisplayFor(modelItem => concessionaria.Email)</td>
                <td>@Html.DisplayFor(modelItem => concessionaria.CapacidadeMaximaVeiculos)</td>
                <td style="width:160px">
                    <a class="btn btn-warning" href="@Url.Action("Edit", "Concessionarias", new { id = concessionaria.Id })">Editar</a>
                    <a class="btn btn-danger" href="@Url.Action("Delete", "Concessionarias", new { id = concessionaria.Id })">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>